.header-container{
    background: #13357C;
    height: 45px;
    padding: 1rem 3rem;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-navbar{
    display: flex;
    gap: 20px;

}
.header-button{
    display: flex;
    gap: 10px;
}